{% extends 'blog/base.html' %}
{% block body %}
{#{{ csrf_token }}#}
<form action="" method="post">
{% csrf_token %}
    <table>
        <tr>
            <td>用户名：</td>
            <td>
                <input type="text" name="username">
            </td>

        </tr>
        <tr>
            <td>密码:</td>
            <td>
                <input type="text" name="password">
            </td>
        </tr>
        <td>
                    <input type="submit" value="提交">
        </td>
        <tr>
            <td>
                {% for mes in messages %}
                        {{ mes }}
                {% endfor %}

            </td>
        </tr>

    </table>
</form>
{% endblock %}